# Data Processing & Machine Learning
pyspark==3.5.1
pandas>=2.0.0
scikit-learn>=1.2.2

# Streaming & Storage
kafka-python==2.0.2
boto3>=1.28.0
s3fs>=2023.6.0

# MLOps & Model Serving
mlflow==2.11.0
bentoml==1.2.8

# Presentation & Utilities
nbformat>=5.9.2
requests>=2.31.0
